body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.custom-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.cs-comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap;
    margin: 20px 0;
}

.cs-box {
    text-align: center;
    width: 45%; 
}

.cs-image {
    width: 100%;
    max-width: 500px; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.cs-image:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .cs-comparison {
        flex-direction: column;
    }
    .cs-box {
        width: 90%;
    }
}


/* Responsive Navigation */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: top;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
